<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  Creación de la dependencia  -->
    <bean id="miInforme" class="com.fguedez.Informe"></bean>
    <bean id="miEmpleado" class="com.fguedez.DirectorEmpleado" >
        <constructor-arg ref="miInforme"></constructor-arg>
        <property name="email" value="directivo@pildorasinformaticas.es"></property>
        <property name="nombreEmpresa" value="Pildoras Infomáticas"></property>

    </bean>
    <bean id="miSecretarioEmpleado" class="com.fguedez.SecretarioEmpleado" >
        <property name="informeNuevo" ref="miInforme"></property>

        <property name="email" value="secretaria@pildorasinformaticas.es"></property>
        <property name="nombreEmpresa" value="Pildoras Infomáticas"></property>

    </bean>

</beans>